
<h1>CONTROLADOR DE DEPARTAMENTOS INDEX</h1>
<div class="card">
    <a class="page-link" asp-action="PaginarVistaDeptRegistro">Paginar Vista Registro a Registro</a>
    <a class="page-link" asp-action="PaginarVistaDeptGrupo">Paginar Vista Grupo</a>
</div>

